.text-center {
 text-align:center;
 margin: 100 0 0 0;
}

.Intro {
    text-align:left;
    margin:50 10 10 10;
}

.Tech {
    text-align:left;
    margin: 50 10 10 10;
}

.Idea {
    text-align:left;
    margin: 50 10 10 10;
}
